@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Charm&family=Poppins:wght@400;500;600;700;800;900&family=Rancho&display=swap');
@import "./sellCoinForm.scss";

.home-container{
    // border: 1px solid red;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;

    .nav-bar-container{
        max-width: 100vw;
        padding: 2px;
        box-sizing: border-box;

        .nav-bar{
            border: 2px solid #e08484;
            border-radius: 10px;
            background-color: #f3c5c5;
            border-radius: 10px;
            max-width: 100vw;
            height: min(7vh, 45px);
            // height: 45px;
            display: flex;
            justify-content: right;
            align-items: center;
            padding-right: 10px;
            margin-bottom: 4px;
            position: relative;

            .user-profile-icon{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: rgb(142, 200, 202);
                margin-right: 10px;
                &:hover{
                    cursor: pointer;
                }
                img{
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
            }

            .logout{
                padding: 7px 15px;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                background-color: white;
                color: red;
                &:hover{
                    background-color: red;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .info-container{
        // border: 1px solid green;
        max-width: 100vw;
        height: 92vh;
        display: flex;
        position: relative;
        // max-height: 92vh;

        .coin-list-container{
            border: 2px solid #e09191;
            // background-color: #eee0e0;
            border-radius: 10px;
            width: 40%;
            padding: 5px;
            position: relative;
            
            .coin-list{
                // border: 1px solid red;
                height: 90%;
                overflow-y: scroll;
                &::-webkit-scrollbar {     // this is to hide scrollbar
                    display: none;
                }

                .coin-card{
                    background-color: white;
                    border: 2px solid black;
                    margin-bottom: 5px;
                    height: 70px;
                    border-radius: 10px;
                    padding: 5px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Poppins', sans-serif;
                    &:hover{
                        cursor: pointer;
                        background: #d1d1d1;
                    }
    
                    .title{
                        // border: 1px solid black;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
    
                        .icon{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                        .name{
                            font-size: 25px;
                            margin-left: 10px;
                        }
                        .currency{
                            color: rgb(105, 105, 105);
                            font-size: 12px;
                        }
                    }
                    .price{
                        font-weight: 600;
                        font-size: 19px;
                    }
                }
            }

            .add-coin-btn{
                position: absolute;
                bottom: 5px;
                border: 2px solid black;
                width: 97%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Poppins', sans-serif;
                font-size: 40px;
                border-radius: 10px;
                z-index: 100;
                background-color: white;

                &:hover{
                    cursor: pointer;
                    background: rgb(170, 170, 170);
                }
            }

        }

        .detailed-view{
            // border: 1px solid black;
            border-bottom: 2px solid #e09191;
            margin-right: 5px;
            margin-left: 5px;
            border-radius: 10px;
            width: 100%;   // This is 100 as it will take rest of the remaining space, if giving error convert to 70%
            overflow-y: scroll;
            &::-webkit-scrollbar {     // this is to hide scrollbar
                display: none;
            }
            position: relative;

            .sell-btn{
                position: absolute;
                right: 20px;
                top: 10px;
                padding: 10px 20px;
                border: none;
                background-color: rgb(255, 59, 59);
                font-weight: 600;
                color: white;
                border-radius: 10px;

                &:hover{
                    cursor: pointer;
                    background-color: rgb(189, 1, 1);
                }
            }
            
            // .chart{ margin: 10px; }

            .info{
                border: 2px solid #e09191;
                // background-color: #eee0e0;
                border-radius: 10px;
                position: relative;
                
                .stats{
                    padding: 10px;
                    .title{
                        display: flex;
                        justify-content: space-between;
                        padding-top: 10px;
                        // border: 1px solid blue;
                        align-items: center;

                        .name-exchg{
                            // border: 1px solid red;
                            display: flex;
                            align-items: center;
                            .icon{ width: 80px; height:80px; border-radius: 50%; }
                            .name{
                                font-size: 40px;
                                font-weight: 600;
                                text-transform: uppercase;
                                padding-left: 10px;
                            }
                            .exchange{
                                color: #696969;
                                font-weight: 600;
                            }
                        }
                        .price{
                            // border: 1px solid green;
                            display: flex;
                            align-items: center;
                            font-weight: 600;
                            font-size: 40px;
                            color: #3a3a3a;
                            padding-right: 20px;
                        }
                    }

                    .user-gain{
                        // border: 1px solid black;
                        display: flex;
                        font-size: 20px;
                        font-weight: 500;
                        
                        .gain-data{  
                            margin-right: 30px;

                            .gain, .gain-percent{
                                // border: 1px solid red;
                                margin-top: 10px;
                                .profit{ color: green; }
                                .loss{ color: red; }
                            } 
                            
                            .gain .text, .gain-percent .text{
                                display: inline-block;
                                width: 190px;
                                // border: 1px solid blue;
                            }
                        }
                    }

                    .extra-info{
                        // border: 1px solid purple;
                        margin-top: 15px;

                        .block{
                            font-size: 16px;
                            margin-top: 9px;
                            .text{
                                width: 190px;
                                font-weight: 500;
                                display: inline-block;
                            }
                            .data{
                                color: rgb(63, 63, 63);
                            }
                        }
                    }
                }
            }
        }
    }

    .add-coin-form{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        height: 300px;
        width: 500px;
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: rgb(234, 235, 158);

        .close-form{
            position: absolute;
            right: 10px;
            top: 10px;
            font-weight: 800;
            // border: 1px solid black;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                cursor: pointer;
            }
        }

        .title{
            font-weight: 500;
            font-size: 30px;
            // border: 1px solid black;
            display: flex;
            justify-content: center;
        }

        form{
            background-color: rgb(236, 245, 194);
            border-radius: 10px;
            height: 100%;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-weight: 500;
            font-size: 20px;
            padding: 20px;
            
            .user-input{
                // border: 1px solid purple;
                width: 100%;

                .block{
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    label{
                        display: inline-block;
                        width: 35%;
                    }
                    input{
                        padding-left: 5px;
                        width: 65%;
                        height: 30px;
                        font-weight: 500;
                        font-size: 17px;
                        outline: none;
                    }
                }
            }

            .submit{
                font-family: 'Poppins', sans-serif;
                background: #dde02a;
                border: none;
                padding: 10px 20px;
                width: 100px;
                margin-top: 50px;
                font-weight: 500;
                border-radius: 10px;
                
                &:hover{
                    cursor: pointer;
                    color: white;
                    background: #babd2b;
                }
            }
        }
    }

}