.user-profile-container{
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Poppins', sans-serif;

    .nav-bar-container{
        max-width: 100vw;
        padding: 2px;
        box-sizing: border-box;

        .nav-bar{
            border: 2px solid #e08484;
            background-color: #f3c5c5;
            border-radius: 10px;
            height: min(7vh, 45px);
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
            position: relative;

            .back-arrow{
                margin-left: 20px;
                &:hover{
                    cursor: pointer;
                }
            }

            .user-profile-icon{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: rgb(142, 200, 202);
                margin-right: 10px;
                &:hover{
                    cursor: pointer;
                }

                img{
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                }
            }

            .logout{
                padding: 7px 15px;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                background-color: white;
                color: red;

                &:hover{
                    background-color: red;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .user-area{
        height: 92vh;
        position: relative;
        padding-top: 20px;
        
        .username{
            // border: 1px solid red;
            .text{
                border-radius: 10px;
                font-weight: 700;
                font-size: 60px;
                color: rgb(32, 32, 32);
                letter-spacing: 2px;
                background-color: #f8e3e3;
                border: 3px solid #ecc6c6;
                display: inline;
                margin-left: 30px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .stats{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            // border: 1px solid red;
            
            .no-coins-to-show{
                // border: 1px solid red;
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img{
                    // border: 1px solid black;
                    display: block;
                    width: 150px;
                }
                .no-coins-text{
                    font-weight: 600;
                    font-size: 40px;
                }
            }

            .pie-chart{
                width: 400px;
            }

            .text-stats{
                .heading{
                    font-size: 30px;
                    font-weight: 500;
                }
                .stats-box{
                    border-radius: 10px;
                    background-color: #f5e4e4;
                    border: 3px solid #ecc6c6;
                    width: 470px;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;

                    .stat{
                        // border: 1px solid red;
                        margin-bottom: 20px;

                        .property-name{
                            font-size: 20px;
                            font-weight: 600;
                            padding: 10px;
                        }
                        .value{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}